* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ec6f75;
  padding: 20px;
}
.blog {
  font-size: 40px;
  color: white;
}
#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}
.posts {
  display: flex;
  flex-direction: column;
  background-color: #556e79;
  color: white;
  width: 80%;
  padding: 40px;
}

.intro {
  padding-top: 10px;
  font-size: 20px;
}
